<html>
  <head>
    <title>Vue Basics</title>
   <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

   <style>
     .canvas {
       width: 300px;
       height: 300px;
       margin-top: 20px;
       background: #ddd;
     }
   </style>
  </head>
  <body>
      <h1>Vue Basics</h1>
      <div id="app">
        <h2>{{title}}</h2>
        <ul>
          <li v-for="item in items">{{item}}</li>
        </ul>
        <div v-for="(ninja, index) in ninjas">
        <p>{{index}} - {{ninja.name}}</p>
        <p>Age: {{ninja.age}}</p> 
         <p>Belt:  {{ninja.belt}}</p>
        
        </div>
      </div>

      <script src="app.js"></script>
  </body>
</html>